.chat {
    display: flex;
    justify-content: space-between;
    align-items: cne;
    align-items: center;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid #fafafa;
}
.chat__detail{
flex: 1;
flex-direction: column;
padding-left: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}
.chat__detail > p{
    color: grey;
}
.chat__timeStamp{
    color: lightgray;
}
.chat__image{
    margin-left: 20px !important;
}